mat-toolbar {
  margin-bottom: 20px;
}

mat-toolbar>span {
  margin-left: 10px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px;
}

.container-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.container {
  margin: 0 25px 25px 0;
}

.list {
  border: solid 1px #ccc;
  min-height: 60px;
  border-radius: 4px;
}

app-new-task {
  margin-bottom: 30px;
}

.empty-label {
  font-size: 2em;
  padding-top: 10px;
  text-align: center;
  opacity: 0.2;
}

.cdk-drag-animating {
  transition: transform 250ms;
}

.cdk-drag-placeholder {
  opacity: 0;
}