<div class="selection-container">
  <div class="selection">
    <mat-chip-list multiple="false">
      <div *ngFor="let country of countries">
        <mat-chip
          color="primary"
          [selected]="isSelected(country.value)"
          (click)="onChangeCountry(country.value)"
          >{{ country.viewValue }}</mat-chip
        >
      </div>
    </mat-chip-list>
    <mat-divider class="divider"></mat-divider>
    <mat-chip-list multiple="false">
      <div *ngFor="let category of categoryList">
        <mat-chip
          color="accent"
          [selected]="isSelected(category)"
          (click)="onChangeCategory(category)"
          >{{ category | titlecase }}</mat-chip
        >
      </div>
    </mat-chip-list>
  </div>
</div>
<div class="news-list">
  <div *ngFor="let news of newsList">
    <mat-card class="news-card">
      <mat-card-header>
        <mat-card-title>{{ news.title }}</mat-card-title>
        <mat-card-subtitle>{{ news.publishedAt | date }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="news.urlToImage" alt="Thumbnail of article" />
      <mat-card-content>
        <h4>{{ news.source.name }}</h4>
        <p>{{ news.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>
          <a href="{{ news.url }}">Read more</a>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
