.dashboard-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.feed{
    font: 52px futura;
}
.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 36px;
}